.admin-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: #35967b;
    color: #fff;
    padding: 0px 15px;
    box-sizing: border-box;
}

.admin-nav {
    list-style: none;
    padding: 0;
    margin: 10px;
    width: 100%;
}

.admin-nav li {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.admin-nav a {
    font-size: 18px;
    font-family: 'Source Serif 4';
    color: #fff;
    text-decoration: none;
}

.admin-nav svg {
    vertical-align: middle;
    font-size: 20px;
    margin-right: 10px;
}

.admin-nav li:hover, 
.admin-nav li.active {
    color: #35967b;
    background-color: #0b5d4b;
}

.admin-nav a {
    text-decoration: none;
    background: none;
}

#logout {
    position: fixed;
    top: 85%;
    left: 0;
    right: 0;
    width: 15%;
}

#logout button {
    margin: 0px 40px;
    font-size: 24px;
    width: 60%;
    height: 35px;
}

#logout svg {
    vertical-align: middle;
    font-size: 20px;
    margin-right: 10px;
}

.admin-content, 
.verify-document, 
.manage-users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0px;
    margin-left: 15%;
    padding: 20px;
}

.admin-content h1, 
.verify-document h1, 
.manage-users h1 {
    margin: 15px;
    font-size: 30px;
}

.admin-content svg {
    vertical-align: middle;
}

.admin-box {
    display: flex;
    height: 100px;
    width: 190px;
    border-radius: 20px;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

.view {
    background-color: #007bff;
    margin: 10px;
    width: 60%;
}

.view svg {
    font-size: 20px;
    vertical-align: middle;
}

.approve {
    background-color: #0b5d4b;
    margin: 10px;
    width: 40%;
}

.reject {
    background-color: #fd2c2cdb;
    margin: 10px;
    width: 40%;
}

.approve svg, 
.reject svg {
    vertical-align: middle;
    font-size: 20px;
}

.image-viewer {
    background-color: white;
    position: fixed;
    top: 20rem;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    height: 20rem;
    width: 30rem;
}

.image-viewer img {
    width: 100%;
    height: 100%;
}

.image-viewer svg {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 25px;
    cursor: pointer;
}

.actions {
    padding: 10px;
    width: 100%;
}

.search {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
}

.search-btn {
    margin: 5px 0px 0px 25px;
    height: 35px;
    width: 12%;
    font-size: 30px;
    padding: 5px;
    background-color: #35967b;
    border-radius: 10px;
}

.suspend-btn {
    margin: 5px 0px 0px 25px;
    height: 35px;
    width: 15%;
    font-size: 30px;
    padding: 5px;
    background-color: #e63d3d;
    border-radius: 10px;
}

.search-btn svg{
    font-size: 20px;
    vertical-align: middle;
    margin-left: 12px;
}

#users {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

#users table {
    width: 100%;
}

#users table tr {
    font-size: 18px;
    font-family: 'Source Serif 4';
    border-bottom: 2px solid grey;
    height: 60px;
}

#user table tr th,
#user table tr td {
    border-bottom: 1px solid #ddd;
}

#users table tr td {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#users input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 0;
    outline: none;
}