#community{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#page-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    width: 100%;
    margin-top: 5rem;
    background: #7fc8a9;
}

#page-header img{
    height: 15rem;
    width: 35rem;
    margin: 0px 20px 5px 120px;
}

#page-header h2{
    font-family: 'Poppins';
    font-size: 2rem;
    color: #fff;
    margin: 0rem 3rem;
    text-align: right;
    padding: 1rem 0rem;
}

#page-header button {
    width: 30%;
    border: none;
    margin: 2rem 12rem;
}

#page-header button:hover {
    background-color: #25664a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#page-header button a{
    text-decoration: none;
    color: black;
}

#post{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2rem 0rem;
}

#post h2{
    color: #7fc8a9;
    font-size: 32px;
    font-family: 'Source Serif 4';
    text-align: center;
}

.post-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    border-radius: 20px;
    box-shadow: 5px 10px 18px rgba(136, 170, 202, 0.9);
    transition: transform 0.3s;
    margin: 1rem 0rem;
}

.post-content{
    width: 85%;
    padding: 15px;
}

.post-name{
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 100%;
    font-size: 3rem;
    margin: 2rem;
}

#post .post-item .post-content h2{
    color: #7fc8a9;
    font-size: 22px;
    font-family: 'Karule';
    font-style: italic;
    text-align: left;
}

.post-content p{
    color: grey;
    font-family: 'Source Serif 4';
    font-size: 17px;
    text-align: left;
    padding: 5px 0px;
    margin: 0px;
}

.post-content p button{
    background-color: white;
    border: none;
    padding-left: 25px;
    font-size: 17px;
    font-family: 'Karule';
    color: grey;
    cursor: pointer;
}

.post-content svg{
    font-size: 18px;
    margin: 0px 5px 0px 10px;
}

.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 6rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid grey;
    border-radius: 20px;
}

.post-form h2{
    font-family: 'Karule';
    font-size: 32px;
    text-align: center;
    color: #7fc8a9;
    padding: 10px;
}

.post-form label {
    display: flex;
    align-items: center;
    font-family: 'Source Serif 4';
    padding: 16px;
    font-size: 20px;
    width: 95%;
    text-align: left;
}

.post-form input{
    width: 40%;
    height: 35px;
    border: 2px solid rgb(219, 218, 218);
    border-radius: 10px;
    font-size: 18px;
    padding-left: 15px;
    margin-left: 25px;
}

.post-form textarea {
    width: 80%;
    margin: 10px 20px;
    padding: 1rem;
    border: 2px solid rgb(219, 218, 218);
    border-radius: 10px;
}

.post-form button {
    width: 15%;
    font-size: 22px;
    cursor: pointer;
    background-color: #7fc8a9;
}

.post-form button:hover{
    background-color: #25664a;
}