#harbour-details {
    display: flex;
    justify-content: space-around;
    margin: 115px 70px 30px 70px;
}

#harbour-details .harbour-image {
    display: flex;
    width: 55%;
    height: 60vh;
    border-radius: 10px;
}

#harbour-details .harbour-image img {
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    width: 75%;
    height: 60vh;
    border: 1px solid black;
}

#harbour-details .harbour-des {
    width: 50%;
    padding-top: 15px;
    padding-right: 30px;
}

.harbour-des h3 {
    font-size: 3rem;
    padding-top: 20px;
    font-family: 'Poppins';
    color: #3AAFA9;
    text-transform: capitalize;
}

.harbour-des h6 {
    font-size: 18px;
    font-family: "Source Serif 4";
    margin: 10px 0px;
    text-transform: capitalize;
}

.harbour-des p {
    font-size: 24px;
    font-family: "";
    margin: 20px 0px;
    text-transform: capitalize;
}

.harbour-des span {
    line-height: 30px;
    font-family: system-ui;
    font-size: 18px;
    margin: 10px 10px 10px 0px;
}

.harbour-des button{
    background-color: #7fc8a9;
    margin: 15px 0px;
}

.harbour-des svg{
    font-size: 25px;
    vertical-align: middle;
    margin: 0px;
    color: #fff;
}
