#login-wrapper{
    background-image: url('../../public/images/home.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
    
#login-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}

#login{
    display: flex;
    position: fixed;
    top: 6rem;
    right: 15rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 30rem;
    width: 55rem;
    margin: 0px;
    border: 1px solid black;
    border-radius: 20px;
    backdrop-filter: none;
}

.wrapper {
    width: 55%;
    height: 100%;
}

.wrapper img{
    width: 100%;
    height: 30rem;
    border-radius: 20px;
}

h1{
    text-align: center;
    font-size: 35px;
    font-family: 'Source Serif 4';
    margin: 55px;
}

p{
    margin: 3px 0px 0px -5px;
    font-size: 22px;
    font-family: 'Karule';
}

.input {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 30px;
    margin: 20px auto;
}

input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgb(219, 218, 218);
    border-radius: 30px;
    font-size: 16px;
    padding-left: 15px;
}

input:focus{
    border: 1px solid black;
    outline: none;
}

#user {
    position: fixed;
    right: 20rem;
    top: 41%;
    font-size: 17px;
    transform: translateY(50%);
}

#eye{
    position: fixed;
    right: 20rem;
    top: 49%;
    font-size: 18px;
    transform: translateY(50%);
}

.remember{
    margin: 10px auto;
    text-align: right;
}

.remember a {
    margin: 65px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

#login .btn {
    width: 50%;
    margin: 1rem 6rem;
    border-radius: 40px;
}

.register {
    font-size: 18px;
    text-align: center;
    margin: 10px auto;
}

.register a {
    color: black;
    text-decoration: none;
    transition: ease 0.5ms;
    margin-left: 5px;
}