/* Registration Page*/
.registration{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 38rem;
    z-index: -1;
    filter: blur(4px);
}

.registration img{
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 30rem;
    margin: 6rem auto 2rem auto;
    border: 1px solid black;
    border-radius: 20px;
}

.reg{
    width: 70%;
    height: 100%;
    padding-left: 20px;
}

.reg h1{
    margin: 40px;
}

.reg form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}   

#form-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#form-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 55%;
}

#form-label label{
    font-size: 18px;
    margin: 15px;
    font-family: 'Source Serif 4';
    width: 95%;
}

#form-input{
    width: 100%;
}

#form-input input {
    width: 90%;
    height: 30px;
    margin: 10px;
    background-color: #fff;
    color: black;
}

#form-input #eye-reg{
    position: absolute;
    top: 363px;
    left: 43rem;
    font-size: 18px;
}

.reg form input[type='submit']{
    margin: 15px auto;
}

.reg p{
    font-size: 28px;
}

.register{
    margin: 0px;
}
