/* Registration Page*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 30rem;
    margin: 6rem auto;
    border: 1px solid black;
    border-radius: 20px;
}

.reg{
    width: 60%;
    height: 100%;
    padding-left: 20px;
}

.reg h1{
    margin: 40px;
}

.input-box span{
    font-size: 18px;
    font-family: 'Source Serif 4';
}

.input-box input {
    width: 50%;
    height: 30px;
    margin: 10px;
}
