#landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    background-color: #7fc8a9;
    color: #fff;
    height: 30vh;
    text-align: right;
    margin-top: 5rem;
}

#landing img {
    position: absolute;
    top: 0rem;
    left: 7rem;
    height: 17rem;
    width: 28rem;
    z-index: 999;
}

#landing h2{
    margin-left: 40rem;
    font-family: 'Poppins';
    font-size: 3rem;
    padding: 10px;
    text-align: right;
}

#landing p{
    font-size: 2rem;
    padding: 10px;
}

#servicepage{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 2rem;
    width: 95%;
}

#servicepage h2{
    font-size: 1.5rem;
    font-family: 'Source Serif 4';
    color: #7fc8a9;
    padding: 0.5rem;
}

#servicepage form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 80%;
    height: 3rem;
}

#servicepage div{
    height: 45px;
}

#servicepage label{
    font-size: 1.5rem;
    font-family: 'Karule';
    padding: 10px;
}

#servicepage input{
    width: 65%;
    height: 2rem;
}

#servicepage svg{
    font-size: 17px;
    margin-right: 12px;
    margin-top: 2px;
}

#servicepage button{
    margin: 0px 0px 0px 30px;
    height: 35px;
    width: 80%;
    padding: 5px;
    background-color: #7fc8a9;
    color: black;
}

#servicepage button:hover{
    background-color: #25664a;
    cursor: pointer;
}

#servicepage span{
    margin: 1rem;
    font-size: 1rem;
    font-family: 'Karule';
    color: rgb(232 30 30);
    background-color: #ff000047;
    padding: 10px 30px;
    border-radius: 50px;
    transition: opcaity 0.5 ease-in-out;
}