/* NavBar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    height: 60px;
    z-index: 100;
    background: white;
}

.logo {
    height: 100px;
    width: 100px;
    margin-top: 25px;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

#nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#nav ul li{
    list-style-type: none;
    border-right: 1px solid white;
    margin-right: 0px;
    padding: 0px 20px;
}

#nav ul li:hover{
    padding: 0px 20px;
}

#nav ul li:nth-last-child(1){
    border-right: none;
    position: relative;
    top: 5px;
}

#nav ul li:nth-last-child(1):hover {
    border-radius: 50%;

}

#nav ul li a{
    font-size: 16px;
    color: #359381;
    text-decoration: none;
    font-family: 'Poppins';
}

#nav ul li a.active,
#nav ul li a:hover{
    background-color: #359381;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}

#user{
    font-size: 12px;
    position: inherit;
}

.btn{
    height: 40px;
    width: 100px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid black;
    margin: 20px 260px 20px 260px;
    padding: 10px;
    font-size: 16px;
}

.btn:hover{
    background-color: black;
    color: white;
}

/* Hero Section*/
#hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 0px 0px 0px;
    height: 90vh;
    background-color: #7fc8a9;
}

#hero-image{
    width: 50%;
    height: 100%;
}

#hero-image img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#hero-content{
    width: 50%;
    margin: 0px 50px;
    height: 100%;
}

#hero-content h4{
    font-size: 40px;
    font-family: 'Poppins';
    font-weight: 200;
    color: whitesmoke;
    text-align: center;
    margin: 80px 0px 60px 0px;
}

#hero-content h1{
    font-size: 24px;
    font-family: cursive;
    font-weight: 100;
    margin-top: 0px;
}

#arrow{
    font-size: 60px;
    margin-left: 280px;
}

/* Harbour Section */
#harbour{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 60px;
    justify-content: center;
}

#harbour h1{
    font-size: 40px;
    font-family: 'Sofia';
    color: #359381;
    margin: 10px;
}

.coast{
    display: flex;
    width: 100%;
    height: 65vh;
}

.card {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 10px 18px rgba(136, 170, 202, 0.9);
    transition: transform 0.3s;
    margin: 20px 60px;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

#harbour h2 {
    font-family: 'Kalam';
    font-size: 22px;
    margin: 10px;
    color: #333;
}

#harbour p{
    font-size: 22px;
    font-family: '';
    font-weight: 500;
    font-style: italic;
    margin: 10px;
    color: #777;
}

/* Sign Up*/
#signup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    height: 250px;
    width: 100%;
    /* background-image: url('../images/login.jpg'); */
    background-color: black;
}

#signup div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
}

#signup h3{
    width: 45%;
    color: white;
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    margin: auto 20px;
    padding: 20px;
    line-height: 50px;
}

#signup input{
    width: 50%;
    height: 23%;
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px 0px 0px 10px;
}

#signup input:focus{
    border: 0px solid;
    outline: none;
}

#signup button{
    margin: 0px;
    padding: 0px;
    height: 25%;
    background-color: #7fc8a9;
    color: whitesmoke;
    border-radius: 0px 10px 10px 0px;
    font-size: 18px;   
}

#signup button:hover{
    color: whitesmoke;
    background-color: black;
}

/* Footer Section*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2% 4% 0 4%;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 4%;
}

#footer-image{
    width:20%;
    margin-right: 0px;
}

footer .col img {
    width: 100%;
}

footer h4 {
    font-size: 28px;
    margin: 10px 0px;
    font-family: "Noto Serif Lao";
    font-weight: 700;
}

footer p {
    font-size: 12px;
    margin: 0 0 8px 0;
    color: rgba(34, 34, 34, 0.548);
    font-family: "Sono";
    font-weight: bolder;
}

footer p strong {
    color: black;
}

footer a {
    font-size: 17px;
    text-decoration: none;
    color: #222;
    margin-bottom: 12px;
    font-weight: 500;
    font-family: 'Poppins';
}

footer a:hover {
    color: cadetblue;
}

footer .follow {
    margin-top: 10px;
}

footer .follow .socail {
    color: #465b52;
    padding-right: 10px;
    cursor: pointer;
    font-size: x-large;
}

footer .follow .socail:hover {
    color: #222;
}

footer .copyright {
    text-align: center;
    width: 100%;
    margin-top: 15px;
}